Procesos/ComunicacionInternaElectronica/ComunicacionesBpmApp/ComunicacionesBpmPrj/SOA/businessCatalog/SGDComunicaciones/ResultadoCheckinBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ResultadoCheckinBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ResultadoCheckinBO" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="ResultadoCheckinBOType">
      <xs:sequence>
         <xs:element name="codigo" nillable="true" type="xs:string"/>
         <xs:element name="mensaje" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ResultadoCheckinBO" type="ResultadoCheckinBOType"/>
</xs:schema>
