Procesos/ComunicacionInternaElectronica/ComunicacionesBpmApp/ComunicacionesBpmPrj/SOA/businessCatalog/SGDComunicaciones/UsuarioBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/UsuarioBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/UsuarioBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="UsuarioBOType">
      <xs:sequence>
         <xs:element name="idUsuario" nillable="true" type="xs:string"/>
         <xs:element name="codDependencia" type="xs:long"/>
         <xs:element name="email" nillable="true" type="xs:string"/>
         <xs:element name="nombre" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="UsuarioBO" type="UsuarioBOType"/>
</xs:schema>
