Procesos/ComunicacionInternaFisica/ComunicacionesIntFisicasBpmApp/ComunicacionesIntFisicas/SOA/businessCatalog/SGDComunicaciones/AnexosRadicadoList.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexosRadicadoList" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexosRadicado" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexosRadicadoList" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexosRadicado" schemaLocation="AnexosRadicado.xsd"/>
   <xs:complexType name="AnexosRadicadoListType">
      <xs:sequence>
         <xs:element name="anexosRadicadoList" nillable="true" type="ns1:AnexosRadicadoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AnexosRadicadoList" type="AnexosRadicadoListType"/>
</xs:schema>
