Procesos/ComunicacionInternaFisica/ComunicacionesIntFisicasBpmApp/ComunicacionesIntFisicas/SOA/businessCatalog/SGDComunicaciones/ComunicacionesBusinessException.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionesBusinessException" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionesBusinessException" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionesBusinessExceptionBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionesBusinessExceptionBO" schemaLocation="ComunicacionesBusinessExceptionBO.xsd"/>
   <xs:complexType name="ComunicacionesBusinessExceptionType">
      <xs:sequence>
         <xs:element name="errorInfo" nillable="true" type="ns1:ComunicacionesBusinessExceptionBOType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ComunicacionesBusinessException" type="ComunicacionesBusinessExceptionType"/>
</xs:schema>
