Procesos/ComunicacionInternaFisica/ComunicacionesIntFisicasBpmApp/ComunicacionesIntFisicas/SOA/businessCatalog/SGDComunicaciones/DocPrincipalBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/DocPrincipalBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/DocPrincipalBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="DocPrincipalBOType">
      <xs:sequence>
         <xs:element name="name" nillable="true" type="xs:string"/>
         <xs:element name="content" nillable="true" type="xs:string"/>
         <xs:element name="mimetype" nillable="true" type="xs:string"/>
         <xs:element name="size" nillable="true" type="xs:int"/>
         <xs:element name="linkDocPrincipal" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DocPrincipalBO" type="DocPrincipalBOType"/>
</xs:schema>
