Procesos/ComunicacionInternaFisica/ComunicacionesIntFisicasBpmApp/ComunicacionesIntFisicas/SOA/businessCatalog/SGDComunicaciones/ExcepcionBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ExcepcionBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ExcepcionBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="ExcepcionBOType">
      <xs:sequence>
         <xs:element name="errorInfo" nillable="true" type="xs:string"/>
         <xs:element name="faultName" nillable="true" type="xs:string"/>
         <xs:element name="faultNamespace" nillable="true" type="xs:string"/>
         <xs:element name="respuestaValidacionExc" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ExcepcionBO" type="ExcepcionBOType"/>
</xs:schema>
