Procesos/ComunicacionInternaFisica/ComunicacionesIntFisicasBpmApp/ComunicacionesIntFisicas/SOA/businessCatalog/SGDComunicaciones/InteresadoExternoBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoExternoBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoExternoBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="InteresadoExternoBOType">
      <xs:sequence>
         <xs:element name="id" type="xs:int"/>
         <xs:element name="tipoIdentificacion" type="xs:string"/>
         <xs:element name="nroIdentificacion" type="xs:string"/>
         <xs:element name="nombre" type="xs:string"/>
         <xs:element name="telefono" nillable="true" type="xs:string"/>
         <xs:element name="email" type="xs:string"/>
         <xs:element name="direccionCorrespondencia" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="InteresadoExternoBO" type="InteresadoExternoBOType"/>
</xs:schema>
