Procesos/ComunicacionInternaFisica/ComunicacionesIntFisicasBpmApp/ComunicacionesIntFisicas/SOA/businessCatalog/SGDComunicaciones/MetadatosBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/MetadatosBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/MetadatosBO" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="MetadatosBOType">
      <xs:sequence>
         <xs:element name="descripcion" nillable="true" type="xs:string"/>
         <xs:element name="nombreTramite" type="xs:string"/>
         <xs:element name="idTpDocumento" default="" type="xs:string"/>
         <xs:element name="nombreTpDocumento" type="xs:string"/>
         <xs:element name="idCuenta" default="" type="xs:string"/>
         <xs:element name="cuenta" type="xs:string"/>
         <xs:element name="idTramite" default="" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="MetadatosBO" type="MetadatosBOType"/>
</xs:schema>
