Comunes/WebCenterContentServices/WebCenterContentWS/public_html/WEB-INF/wsdl/CMC.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviciosintegracion.cmc.anm.gov"
                  xmlns:intf="http://serviciosintegracion.cmc.anm.gov" xmlns:tns1="http://objetos.cmc.anm.gov"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://serviciosintegracion.cmc.anm.gov">
    <!--
WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)
-->
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://serviciosintegracion.cmc.anm.gov">
            <import namespace="http://objetos.cmc.anm.gov"/>
            <element name="radicarComunicacionCmc">
                <complexType>
                    <sequence>
                        <element name="usuario" type="xsd:string"/>
                        <element name="codigoExpediente" type="xsd:string"/>
                        <element maxOccurs="unbounded" name="anexos" type="tns1:Anexos"/>
                    </sequence>
                </complexType>
            </element>
            <element name="radicarComunicacionCmcResponse">
                <complexType>
                    <sequence>
                        <element name="radicarComunicacionCmcReturn" type="tns1:Respuesta"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://objetos.cmc.anm.gov">
            <complexType name="Anexos">
                <sequence>
                    <element name="nombre" nillable="true" type="xsd:string"/>
                    <element name="valor" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="Respuesta">
                <sequence>
                    <element name="codigoError" nillable="true" type="xsd:string"/>
                    <element name="documentoRadicacion" nillable="true" type="xsd:string"/>
                    <element name="error" nillable="true" type="xsd:string"/>
                    <element name="numeroRadicado" nillable="true" type="xsd:string"/>
                    <element name="rutaUbicacionDocumentoRadicacion" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="radicarComunicacionCmcRequest">
        <wsdl:part element="impl:radicarComunicacionCmc" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="radicarComunicacionCmcResponse">
        <wsdl:part element="impl:radicarComunicacionCmcResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="IntegracionSGDCMC">
        <wsdl:operation name="radicarComunicacionCmc">
            <wsdl:input message="impl:radicarComunicacionCmcRequest" name="radicarComunicacionCmcRequest"/>
            <wsdl:output message="impl:radicarComunicacionCmcResponse" name="radicarComunicacionCmcResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IntegracionSGDCMCSoapBinding" type="impl:IntegracionSGDCMC">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="radicarComunicacionCmc">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="radicarComunicacionCmcRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="radicarComunicacionCmcResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IntegracionSGDCMCService">
        <wsdl:port binding="impl:IntegracionSGDCMCSoapBinding" name="IntegracionSGDCMC">
            <wsdlsoap:address location="http://esmeraldarmnpru.anm.local:9090/ServiciosIntegracionSGD/services/IntegracionSGDCMC"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>