Comunes/WebCenterContentServices/WebCenterContentWS/public_html/WEB-INF/wsdl/Comunicaciones_schema3.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://transfer.sgd.anm.gov.co" xmlns:ns1="http://service.sgd.anm.gov.co" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://transfer.sgd.anm.gov.co">
  <xsd:import schemaLocation="Comunicaciones_schema1.xsd" namespace="http://service.sgd.anm.gov.co"/>
  <xsd:element name="SolicitudRadicado" type="ns1:solicitudRadicado" nillable="true"/>
  <xsd:element name="RegistroComunicacion" type="ns1:procesoComunicacionRequest" nillable="true"/>
  <xsd:element name="GeneracionODTRequest" type="ns1:generacionODTRequest" nillable="true"/>
  <xsd:element name="ActualizacionProceso" type="ns1:procesoComunicacionRequest" nillable="true"/>
  <xsd:element name="FechaVencimientoRequest" type="ns1:fechaVencimientoRequest" nillable="true"/>
  <xsd:element name="NroRadicadoAnexo" type="xsd:string" nillable="true"/>
  <xsd:element name="dependenciaRol" type="ns1:dependenciaRol" nillable="true"/>
  <xsd:element name="IdUsuario" type="xsd:string" nillable="true"/>
  <xsd:element name="ActualizacionComunicacion" type="ns1:comunicacionRequest" nillable="true"/>
  <xsd:element name="NroRadicadoComunicacion" type="xsd:string" nillable="true"/>
  <xsd:element name="CreacionComunicacion" type="ns1:comunicacionRequest" nillable="true"/>
</xsd:schema>