Comunes/WebCenterContentServices/WebCenterContentWS/public_html/WEB-INF/wsdl/Document_schema2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://transfer.sgd.anm.gov.co" xmlns:ns1="http://service.sgd.anm.gov.co" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://transfer.sgd.anm.gov.co">
  <xsd:import schemaLocation="Document_schema1.xsd" namespace="http://service.sgd.anm.gov.co"/>
  <xsd:element name="SolicitudDetalle" type="ns1:solicitud" nillable="true"/>
  <xsd:element name="CheckinTaxonomia" type="ns1:checkinDocument" nillable="true"/>
  <xsd:element name="NavegacionCarpeta" type="ns1:solicitud" nillable="true"/>
  <xsd:element name="CargueDocumento" type="ns1:solicitud" nillable="true"/>
  <xsd:element name="CheckinPlantilla" type="ns1:checkinDocument" nillable="true"/>
  <xsd:element name="CheckinDocument" type="ns1:checkinDocument" nillable="true"/>
  <xsd:element name="CheckinGestionDocumental" type="ns1:checkinDocument" nillable="true"/>
  <xsd:element name="CarguePQRS" type="ns1:checkinDocument" nillable="true"/>
  <xsd:element name="DescargaDocumento" type="ns1:solicitud" nillable="true"/>
  <xsd:element name="TipificacionAnexos" type="ns1:tipificacionAnexosRequest" nillable="true"/>
  <xsd:element name="CargueComunicacion" type="ns1:checkinDocument" nillable="true"/>
</xsd:schema>