Comunes/WebCenterContentServices/WebCenterContentWS/public_html/WEB-INF/wsdl/ExpedienteMinero_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://service.sgd.anm.gov.co" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.sgd.anm.gov.co">
  <xsd:complexType name="wccResponse">
    <xsd:sequence>
      <xsd:element name="metaDataFields" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="key" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="statusCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="statusMessage" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WSException">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string" minOccurs="0"/>
      <xsd:element name="message" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="modificacionExpediente">
    <xsd:sequence>
      <xsd:element name="credenciales" type="ns0:credenciales" minOccurs="0"/>
      <xsd:element name="destino" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroPlaca" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoModificacion" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="solicitud">
    <xsd:sequence>
      <xsd:element name="credenciales" type="ns0:credenciales" minOccurs="0"/>
      <xsd:element name="metadatosList" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="key" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sistemaOrigen" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="credenciales">
    <xsd:sequence>
      <xsd:element name="contrasena" type="xsd:string" minOccurs="0"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WSException" type="ns0:WSException"/>
</xsd:schema>