Procesos/ComunicacionEntradaFisica/ComunicacionesEntFisicaBPM/ComunicacionesEntFisicaPrj/SOA/businessCatalog/SGDComunicaciones/AnexoBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexoBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexoBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="AnexoBOType">
      <xs:sequence>
         <xs:element name="nombre" default="" nillable="true" type="xs:string"/>
         <xs:element name="descripcion" nillable="true" type="xs:string"/>
         <xs:element name="contenido" default="" nillable="true" type="xs:string"/>
         <xs:element name="mimeType" nillable="true" type="xs:string"/>
         <xs:element name="tipoAnexo" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AnexoBO" type="AnexoBOType"/>
</xs:schema>
