Procesos/ComunicacionEntradaFisica/ComunicacionesEntFisicaBPM/ComunicacionesEntFisicaPrj/SOA/businessCatalog/SGDComunicaciones/ComunicacionesBusinessExceptionBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionesBusinessExceptionBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionesBusinessExceptionBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="ComunicacionesBusinessExceptionBOType">
      <xs:sequence>
         <xs:element name="codigo" type="xs:string"/>
         <xs:element name="id" nillable="true" type="xs:int"/>
         <xs:element name="mensaje" type="xs:string"/>
         <xs:element name="detalles" nillable="true" type="xs:string"/>
         <xs:element name="tipo" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ComunicacionesBusinessExceptionBO" type="ComunicacionesBusinessExceptionBOType"/>
</xs:schema>
