Procesos/ComunicacionEntradaFisica/ComunicacionesEntFisicaBPM/ComunicacionesEntFisicaPrj/SOA/businessCatalog/SGDComunicaciones/ComunicacionSalidaBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionSalidaBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionSalidaBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="ComunicacionSalidaBOType">
      <xs:sequence>
         <xs:element name="fechaCreacion" type="xs:dateTime"/>
         <xs:element name="fechaRadicacion" nillable="true" type="xs:dateTime"/>
         <xs:element name="nroRadicado" nillable="true" type="xs:string"/>
         <xs:element name="esTituloMinero" type="xs:string"/>
         <xs:element name="placa" nillable="true" type="xs:string"/>
         <xs:element name="referencia" nillable="true" type="xs:string"/>
         <xs:element name="asunto" type="xs:string"/>
         <xs:element name="nroFolios" type="xs:int"/>
         <xs:element name="nroAnexos" nillable="true" type="xs:string"/>
         <xs:element name="medioEnvio" type="xs:string"/>
         <xs:element name="nroRadicadoRelacionado" nillable="true" type="xs:string"/>
         <xs:element name="tieneReferencia" nillable="true" type="xs:boolean"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ComunicacionSalidaBO" type="ComunicacionSalidaBOType"/>
</xs:schema>
