Procesos/ComunicacionEntradaFisica/ComunicacionesEntFisicaBPM/ComunicacionesEntFisicaPrj/SOA/businessCatalog/SGDComunicaciones/ExcepcionManejadaBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ExcepcionManejadaBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ExcepcionManejadaBO" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="ExcepcionManejadaBOType">
      <xs:sequence>
         <xs:element name="info" nillable="true" type="xs:string"/>
         <xs:element name="faultName" nillable="true" type="xs:string"/>
         <xs:element name="faultNamespace" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ExcepcionManejadaBO" type="ExcepcionManejadaBOType"/>
</xs:schema>
