Procesos/ComunicacionEntradaFisica/ComunicacionesEntFisicaBPM/ComunicacionesEntFisicaPrj/SOA/businessCatalog/SGDComunicaciones/InteresadoBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="SGDComunicaciones.InteresadoBO" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoBO"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="InteresadoBOType">
        <xs:sequence>
            <xs:element name="idInteresado" type="xs:int"/>
            <xs:element name="segundoNombre" nillable="true" type="xs:string"/>
            <xs:element name="primerNombre" nillable="true" type="xs:string"/>
            <xs:element name="primerApellido" nillable="true" type="xs:string"/>
            <xs:element name="segundoApellido" nillable="true" type="xs:string"/>
            <xs:element name="email" nillable="true" type="xs:string"/>
            <xs:element name="idEtnia" nillable="true" type="xs:int"/>
            <xs:element name="idDepartamento" nillable="true" type="xs:int"/>
            <xs:element name="idMunicipio" nillable="true" type="xs:int"/>
            <xs:element name="ocupacion" nillable="true" type="xs:string"/>
            <xs:element name="idRangoEdad" nillable="true" type="xs:int"/>
            <xs:element name="celular" nillable="true" type="xs:string"/>
            <xs:element name="direccion" nillable="true" type="xs:string"/>
            <xs:element name="ciudad" nillable="true" type="xs:string"/>
            <xs:element name="numeroIdentificacion" nillable="true" type="xs:string"/>
            <xs:element name="tipoIdentificacion" nillable="true" type="xs:string"/>
            <xs:element name="idPais" nillable="true" type="xs:int"/>
            <xs:element name="idPoblacionVulnerable" nillable="true" type="xs:int"/>
            <xs:element name="telefono" nillable="true" type="xs:string"/>
            <xs:element name="tipoSolicitante" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="InteresadoBO" type="InteresadoBOType"/>
</xs:schema>
