Procesos/ComunicacionEntradaFisica/ComunicacionesEntFisicaBPM/ComunicacionesEntFisicaPrj/SOA/businessCatalog/SGDComunicaciones/TaxonomiaBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TaxonomiaBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TaxonomiaBO" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="TaxonomiaBOType">
      <xs:sequence>
         <xs:element name="catProceso" nillable="true" type="xs:string"/>
         <xs:element name="idCatProceso" default="" nillable="true" type="xs:string"/>
         <xs:element name="proceso" nillable="true" type="xs:string"/>
         <xs:element name="idProceso" default="" nillable="true" type="xs:string"/>
         <xs:element name="serie" nillable="true" type="xs:string"/>
         <xs:element name="idSerie" default="" nillable="true" type="xs:string"/>
         <xs:element name="subserie" default="" nillable="true" type="xs:string"/>
         <xs:element name="idSubSerie" default="" nillable="true" type="xs:string"/>
         <xs:element name="cuaderno" nillable="true" type="xs:string"/>
         <xs:element name="idCuaderno" nillable="true" type="xs:string"/>
         <xs:element name="folderGUID" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TaxonomiaBO" type="TaxonomiaBOType"/>
</xs:schema>
