Procesos/ComunicacionEntradaFisica/ComunicacionesEntFisicaBPM/ComunicacionesEntFisicaPrj/SOA/businessCatalog/SGDComunicaciones/TipoSimpleBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TipoSimpleBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TipoSimpleBO" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="TipoSimpleBOType">
      <xs:sequence>
         <xs:element name="id" nillable="true" type="xs:long"/>
         <xs:element name="nombre" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TipoSimpleBO" type="TipoSimpleBOType"/>
</xs:schema>
