Procesos/ComunicacionInternaElectronica/ComunicacionesBpmApp/ComunicacionesBpmPrj/SOA/Schemas/Comunicaciones_schema3_1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://transfer.sgd.anm.gov.co" xmlns:ns0="http://transfer.sgd.anm.gov.co" xmlns:ns1="http://service.sgd.anm.gov.co" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import schemaLocation="Comunicaciones_schema1.xsd" namespace="http://service.sgd.anm.gov.co"/>
   <xsd:element name="SolicitudRadicado" type="ns1:solicitudRadicado" nillable="true"/>
   <xsd:element name="RadicacionCMC" type="ns1:comunicacionRequest" nillable="true"/>
   <xsd:element name="dependenciaRol" type="ns1:dependenciaRol" nillable="true"/>
   <xsd:element name="IdUsuario" type="xsd:string" nillable="true"/>
   <xsd:element name="ActualizacionComunicacion" type="ns1:comunicacionRequest" nillable="true"/>
   <xsd:element name="CreacionComunicacion" type="ns1:comunicacionRequest" nillable="true"/>
</xsd:schema>
