Procesos/ComunicacionInternaElectronica/ComunicacionesBpmApp/ComunicacionesBpmPrj/SOA/Schemas/Comunicaciones_schema1.xsd.old

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://service.sgd.anm.gov.co" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.sgd.anm.gov.co">
   <xsd:complexType name="anexosRadicadoResponse">
      <xsd:sequence>
         <xsd:element name="anexosList" type="ns0:anexoRadicado" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="codigoEstado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="mensajeRsp" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="fechaVencimientoResponse">
      <xsd:sequence>
         <xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
         <xsd:element name="fechaVencimiento" type="xsd:dateTime" minOccurs="0"/>
         <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="radicadoResponse">
      <xsd:complexContent>
         <xsd:extension base="ns0:wccResponse">
            <xsd:sequence>
               <xsd:element name="noRadicado" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="usuarioComunicacion">
      <xsd:complexContent>
         <xsd:extension base="ns0:wccResponse">
            <xsd:sequence>
               <xsd:element name="codigoDependencia" type="xsd:long" minOccurs="0"/>
               <xsd:element name="email" type="xsd:string" minOccurs="0"/>
               <xsd:element name="idUsuario" type="xsd:string" minOccurs="0"/>
               <xsd:element name="nombreUsuario" type="xsd:string" minOccurs="0"/>
               <xsd:element name="rolList" type="ns0:rol" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="usuarioResponse">
      <xsd:complexContent>
         <xsd:extension base="ns0:wccResponse">
            <xsd:sequence>
               <xsd:element name="usuarios" type="ns0:usuario" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="wccResponse">
      <xsd:sequence>
         <xsd:element name="metaDataFields" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="key" type="xsd:string" minOccurs="0"/>
                           <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="statusCode" type="xsd:string" minOccurs="0"/>
         <xsd:element name="statusMessage" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="WSException">
      <xsd:sequence>
         <xsd:element name="code" type="xsd:string" minOccurs="0"/>
         <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="comunicacionRequest">
      <xsd:sequence>
         <xsd:element name="accesoNegado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="asunto" type="xsd:string" minOccurs="0"/>
         <xsd:element name="codigoSerie" type="xsd:string" minOccurs="0"/>
         <xsd:element name="codigoSubSerie" type="xsd:string" minOccurs="0"/>
         <xsd:element name="comentarios" type="xsd:string" minOccurs="0"/>
         <xsd:element name="contentFLdComunicaciones" type="xsd:string" minOccurs="0"/>
         <xsd:element name="contentFldOtro" type="xsd:string" minOccurs="0"/>
         <xsd:element name="contentFldTitulo" type="xsd:string" minOccurs="0"/>
         <xsd:element name="diasParaRespuesta" type="xsd:int" minOccurs="0"/>
         <xsd:element name="esPQRS" type="xsd:string" minOccurs="0"/>
         <xsd:element name="esTitulo" type="xsd:string" minOccurs="0"/>
         <xsd:element name="estadoComunicacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="fechaCreacion" type="xsd:dateTime" minOccurs="0"/>
         <xsd:element name="fechaVencimiento" type="xsd:dateTime" minOccurs="0"/>
         <xsd:element name="grupoSeguridad" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idComunicacion" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idDependenciaDestino" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idReservada" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idTipoDocumentalTramite" type="xsd:long" minOccurs="0"/>
         <xsd:element name="idTramite" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idUnidadProductora" type="xsd:int" minOccurs="0"/>
         <xsd:element name="nombreSerie" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nombreSubSerie" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nombreTpDoc" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nroAnexos" type="xsd:int" minOccurs="0"/>
         <xsd:element name="nroFolios" type="xsd:int" minOccurs="0"/>
         <xsd:element name="nroPlaca" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nroRadicado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nroRadicadoRelacionado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="referencia" type="xsd:string" minOccurs="0"/>
         <xsd:element name="requiereRespuesta" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tipoComunicacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tramite" type="xsd:string" minOccurs="0"/>
         <xsd:element name="trasladoOtraEntidad" type="xsd:string" minOccurs="0"/>
         <xsd:element name="usuarioActualizacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="usuarioCreacion" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="dependenciaRol">
      <xsd:sequence>
         <xsd:element name="codigoDependencia" type="xsd:long" minOccurs="0"/>
         <xsd:element name="idRol" type="xsd:long" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="fechaVencimientoRequest">
      <xsd:sequence>
         <xsd:element name="diasRespuesta" type="xsd:int" minOccurs="0"/>
         <xsd:element name="fechaRadicacion" type="xsd:dateTime" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="generacionODTRequest">
      <xsd:sequence>
         <xsd:element name="comunicacion" type="ns0:comunicacionODT" minOccurs="0"/>
         <xsd:element name="pdf" type="xsd:boolean"/>
         <xsd:element name="rutaArchivo" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="procesoComunicacionRequest">
      <xsd:sequence>
         <xsd:element name="anexosList" type="ns0:anexoComunicacionRequest" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="comunicacion" type="ns0:comunicacionRequest" minOccurs="0"/>
         <xsd:element name="interesadosList" type="ns0:interesadoRequest" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="procesoComunicacionResponse">
      <xsd:sequence>
         <xsd:element name="anexosList" type="ns0:anexoComunicacionRequest" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="codigoRespuesta" type="xsd:string" minOccurs="0"/>
         <xsd:element name="comunicacion" type="ns0:comunicacionRequest" minOccurs="0"/>
         <xsd:element name="interesadosList" type="ns0:interesadoRequest" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="mensajeRespuesta" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="respuestaGeneradorDTO">
      <xsd:sequence>
         <xsd:element name="respuesta" type="xsd:string" minOccurs="0"/>
         <xsd:element name="rutaArchivoFinal" type="xsd:string" minOccurs="0"/>
         <xsd:element name="trazaError" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="solicitudRadicado">
      <xsd:sequence>
         <xsd:element name="codDependencia" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tipoComunicacion" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="anexoRadicado">
      <xsd:sequence>
         <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
         <xsd:element name="url" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="rol">
      <xsd:sequence>
         <xsd:element name="fechaActualizacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="fechaCreacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idRol" type="xsd:long" minOccurs="0"/>
         <xsd:element name="nombreRol" type="xsd:string" minOccurs="0"/>
         <xsd:element name="usuarioActualizacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="usuarioCreacion" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="usuario">
      <xsd:sequence>
         <xsd:element name="codigoDependencia" type="xsd:long" minOccurs="0"/>
         <xsd:element name="email" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idUsuario" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nombreUsuario" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="comunicacionODT">
      <xsd:sequence>
         <xsd:element name="asunto" type="xsd:string" minOccurs="0"/>
         <xsd:element name="celularInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="departamentoInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="dependenciaDestino" type="xsd:string" minOccurs="0"/>
         <xsd:element name="dependenciaOrigen" type="xsd:string" minOccurs="0"/>
         <xsd:element name="destinatarioInterno" type="xsd:string" minOccurs="0"/>
         <xsd:element name="direccionInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="elaboro" type="xsd:string" minOccurs="0"/>
         <xsd:element name="emailInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="esTituloMinero" type="xsd:string" minOccurs="0"/>
         <xsd:element name="fechaCreacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="fechaRadicado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="medioEnvio" type="xsd:string" minOccurs="0"/>
         <xsd:element name="municipioInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nomCompletoInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nroAnexos" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nroFolios" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nroPlaca" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nroRadicado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="nroRadicadoRelacionado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="numIdentificacionInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="paisInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="referencia" type="xsd:string" minOccurs="0"/>
         <xsd:element name="requiereRespuesta" type="xsd:string" minOccurs="0"/>
         <xsd:element name="telefonoInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tiempoRespuesta" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tipoComunicacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tipoIdentificacionInteresado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tipoPQRS" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="anexoComunicacionRequest">
      <xsd:sequence>
         <xsd:element name="cantidad" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="enlaceContent" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idAnexo" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idComunicacion" type="xsd:int" minOccurs="0"/>
         <xsd:element name="nroRadicado" type="xsd:string" minOccurs="0"/>
         <xsd:element name="rutaLocalCargue" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="interesadoRequest">
      <xsd:sequence>
         <xsd:element name="celular" type="xsd:string" minOccurs="0"/>
         <xsd:element name="ciudad" type="xsd:string" minOccurs="0"/>
         <xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="email" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idComunicacion" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idDepartamento" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idEtnia" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idInteresado" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idMunicipio" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idPais" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idPoblacionVulnerable" type="xsd:int" minOccurs="0"/>
         <xsd:element name="idRangoEdad" type="xsd:int" minOccurs="0"/>
         <xsd:element name="nroIdentificacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="ocupacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="primerApellido" type="xsd:string" minOccurs="0"/>
         <xsd:element name="primerNombre" type="xsd:string" minOccurs="0"/>
         <xsd:element name="segundoApellido" type="xsd:string" minOccurs="0"/>
         <xsd:element name="segundoNombre" type="xsd:string" minOccurs="0"/>
         <xsd:element name="telefono" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tipoIdentificacion" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="WSException" type="ns0:WSException"/>
</xsd:schema>
