Procesos/ComunicacionInternaElectronica/ComunicacionesBpmApp/ComunicacionesBpmPrj/SOA/Schemas/HT_FirmaDigitalPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/UsuarioBO">
   <import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/UsuarioBO" schemaLocation="../businessCatalog/SGDComunicaciones/UsuarioBO.xsd"/>
   <import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionBO" schemaLocation="../businessCatalog/SGDComunicaciones/ComunicacionBO.xsd"/>
   <complexType name="HT_FirmaDigitalPayloadType">
      <sequence>
         <element name="primaryFile" type="xsd:string"/>
         <element ref="ns0:UsuarioBO"/>
         <element ref="ns1:ComunicacionBO"/>
         <element name="jefeDependencia" type="xsd:string"/>
      </sequence>
   </complexType>
</schema>
