Procesos/ComunicacionEntradaElectronica/ComunicacionesBpmApp/ComunicacionesBpmPrj/SOA/businessCatalog/SGDComunicaciones/AdjuntoBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AdjuntoBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AdjuntoBO" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="AdjuntoBOType">
      <xs:sequence>
         <xs:element name="name" nillable="true" type="xs:string"/>
         <xs:element name="content" nillable="true" type="xs:string"/>
         <xs:element name="mimeType" nillable="true" type="xs:string"/>
         <xs:element name="size" nillable="true" type="xs:int"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AdjuntoBO" type="AdjuntoBOType"/>
</xs:schema>
