Procesos/ComunicacionEntradaElectronica/ComunicacionesBpmApp/ComunicacionesBpmPrj/SOA/businessCatalog/SGDComunicaciones/DependenciaBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/DependenciaBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/DependenciaBO" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="DependenciaBOType">
      <xs:sequence>
         <xs:element name="id" nillable="true" type="xs:int"/>
         <xs:element name="codigo" nillable="true" type="xs:string"/>
         <xs:element name="nombre" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DependenciaBO" type="DependenciaBOType"/>
</xs:schema>
