Procesos/ComunicacionInternaFisica/ComunicacionesIntFisicasBpmApp/ComunicacionesIntFisicas/SOA/Schemas/ComunicacionBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionBO" elementFormDefault="qualified" xmlns:ns6="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TaxonomiaBO" xmlns:ns7="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/MetadatosBO" xmlns:ns3="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/DependenciaBO" xmlns:ns4="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TipoSimpleBO" xmlns:ns8="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AsignacionComunicacionBO" xmlns:ns2="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ContentFolderBO" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionBO" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexoBO" xmlns:ns5="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoInterno" xmlns:ns9="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/UsuarioBO" xmlns:ns10="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TipoEnvio" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoInterno" schemaLocation="InteresadoInterno.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexoBO" schemaLocation="AnexoBO.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TaxonomiaBO" schemaLocation="TaxonomiaBO.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AsignacionComunicacionBO" schemaLocation="AsignacionComunicacionBO.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/DependenciaBO" schemaLocation="DependenciaBO.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ContentFolderBO" schemaLocation="ContentFolderBO.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/UsuarioBO" schemaLocation="UsuarioBO.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TipoSimpleBO" schemaLocation="TipoSimpleBO.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/MetadatosBO" schemaLocation="MetadatosBO.xsd"/>
   <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TipoEnvio" schemaLocation="TipoEnvio.xsd"/>
   <xs:complexType name="ComunicacionBOType">
      <xs:sequence>
         <xs:element name="nroRadicado" nillable="true" type="xs:string"/>
         <xs:element name="asunto" type="xs:string"/>
         <xs:element name="nroFolios" type="xs:int"/>
         <xs:element name="referencia" nillable="true" type="xs:string"/>
         <xs:element name="esTituloMinero" nillable="true" type="xs:boolean"/>
         <xs:element name="nroPlaca" nillable="true" type="xs:string"/>
         <xs:element name="nroRadicadoRelacionado" nillable="true" type="xs:string"/>
         <xs:element name="requiereRespuesta" nillable="true" type="xs:boolean"/>
         <xs:element name="nroAnexos" type="xs:int"/>
         <xs:element name="anexos" nillable="true" type="ns1:AnexoBOType" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="fecRadicacion" nillable="true" type="xs:dateTime"/>
         <xs:element name="consecutivoContentFolder" nillable="true" type="ns2:ContentFolderBOType"/>
         <xs:element name="tituloContentFolder" nillable="true" type="ns2:ContentFolderBOType"/>
         <xs:element name="otraSerieContentFolder" nillable="true" type="ns2:ContentFolderBOType"/>
         <xs:element name="dependenciaRemitente" nillable="true" type="ns3:DependenciaBOType"/>
         <xs:element name="tramite" nillable="true" type="ns4:TipoSimpleBOType"/>
         <xs:element name="tipoDocTitulo" nillable="true" type="ns4:TipoSimpleBOType"/>
         <xs:element name="dependenciaDestino" type="ns3:DependenciaBOType"/>
         <xs:element name="destinatarioInterno" nillable="true" type="ns5:InteresadoInternoType"/>
         <xs:element name="tipoComunicacion" nillable="true" type="xs:string"/>
         <xs:element name="taxonomia" nillable="true" type="ns6:TaxonomiaBOType"/>
         <xs:element name="metadatos" nillable="true" type="ns7:MetadatosBOType"/>
         <xs:element name="tiempoRespuesta" nillable="true" type="xs:int"/>
         <xs:element name="asignacion" nillable="true" type="ns8:AsignacionComunicacionBOType"/>
         <xs:element name="usuarioDestinoComunicacion" nillable="true" type="ns9:UsuarioBOType"/>
         <xs:element name="responderComunicacion" nillable="true" type="xs:boolean"/>
         <xs:element name="usuarioRemitente" nillable="true" type="xs:string"/>
         <xs:element name="fecVencimiento" nillable="true" type="xs:dateTime"/>
         <xs:element name="tipoEnvio" nillable="true" type="ns10:TipoEnvioType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ComunicacionBO" type="ComunicacionBOType"/>
</xs:schema>
