Procesos/ComunicacionInternaFisica/ComunicacionesIntFisicasBpmApp/ComunicacionesIntFisicas/SOA/Schemas/InteresadoInterno.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoInterno" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoInterno" xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/">
   <xs:complexType name="InteresadoInternoType">
      <xs:sequence>
         <xs:element name="id" default="" nillable="true" type="xs:string"/>
         <xs:element name="usuario" nillable="true" type="xs:string"/>
         <xs:element name="nombreAD" nillable="true" type="xs:string"/>
         <xs:element name="emailAD" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="InteresadoInterno" type="InteresadoInternoType"/>
</xs:schema>
