Procesos/ComunicacionEntradaElectronica/ComunicacionesBpmApp/ComunicacionesBpmPrj/SOA/Schemas/Document_schema1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema targetNamespace="http://service.sgd.anm.gov.co" xmlns:ns0="http://service.sgd.anm.gov.co"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="browseResponse">
        <xsd:complexContent>
            <xsd:extension base="ns0:wccResponse">
                <xsd:sequence>
                    <xsd:element name="fileList" type="ns0:fileResponse" minOccurs="0" maxOccurs="unbounded"
                         nillable="true"/>
                    <xsd:element name="folderList" type="ns0:folderResponse" minOccurs="0" maxOccurs="unbounded"
                         nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="documentDetailResponse">
        <xsd:complexContent>
            <xsd:extension base="ns0:wccResponse">
                <xsd:sequence>
                    <xsd:element name="creador" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="estadoArchivo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fechaCreacioon" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="grupoSeguridad" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="idDocumento" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="nombreDocumento" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numeroPlaca" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tramite" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ultimaFechaModificacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ultimoModificador" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="unidadAdministrativa" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="versionPublicada" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="wccResponse">
        <xsd:sequence>
            <xsd:element name="metaDataFields" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="key" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="statusCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="statusMessage" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WSException">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="checkinDocument">
        <xsd:sequence>
            <xsd:element name="PQRS" type="xsd:boolean"/>
            <xsd:element name="credenciales" type="ns0:credenciales" minOccurs="0"/>
            <xsd:element name="docAccount" type="xsd:string" minOccurs="0"/>
            <xsd:element name="docTitle" type="xsd:string" minOccurs="0"/>
            <xsd:element name="documentoPrincipal" type="xsd:boolean"/>
            <xsd:element name="expMinero" type="xsd:boolean"/>
            <xsd:element name="folderGUID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nroPlaca" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nroRadicado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="primaryFile" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipoDocumental" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tramite" type="xsd:string" minOccurs="0"/>
            <xsd:element name="unidadAdministrativa" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="solicitud">
        <xsd:sequence>
            <xsd:element name="credenciales" type="ns0:credenciales" minOccurs="0"/>
            <xsd:element name="metadatosList" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="key" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sistemaOrigen" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipificacionAnexosRequest">
        <xsd:sequence>
            <xsd:element name="PQRS" type="xsd:boolean"/>
            <xsd:element name="credenciales" type="ns0:credenciales" minOccurs="0"/>
            <xsd:element name="docPpal" type="xsd:boolean"/>
            <xsd:element name="expedienteMinero" type="xsd:boolean"/>
            <xsd:element name="folderGUID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="idDependenciaOrigen" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreDoc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nroPlaca" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nroRadicado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipoDocumental" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tramite" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="fileResponse">
        <xsd:sequence>
            <xsd:element name="DID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="docName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fileGUID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parentID" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="folderResponse">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parentID" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="credenciales">
        <xsd:sequence>
            <xsd:element name="contrasena" type="xsd:string" minOccurs="0"/>
            <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="WSException" type="ns0:WSException"/>
</xsd:schema>
