Procesos/ComunicacionEntradaFisica/ComunicacionesEntFisicaBPM/ComunicacionesEntFisicaPrj/SOA/Schemas/HT_AprobarCierreComPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns4="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TaxonomiaBO" xmlns:ns5="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/MetadatosBO" xmlns:ns2="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexosList" xmlns:ns0="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionSalidaBO" xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/UsuarioBO">
   <import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/ComunicacionSalidaBO" schemaLocation="../businessCatalog/SGDComunicaciones/ComunicacionSalidaBO.xsd"/>
   <import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/UsuarioBO" schemaLocation="../businessCatalog/SGDComunicaciones/UsuarioBO.xsd"/>
   <import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/InteresadoBO" schemaLocation="../businessCatalog/SGDComunicaciones/InteresadoBO.xsd"/>
   <import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/AnexosList" schemaLocation="../businessCatalog/SGDComunicaciones/AnexosList.xsd"/>
   <import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/TaxonomiaBO" schemaLocation="../businessCatalog/SGDComunicaciones/TaxonomiaBO.xsd"/>
   <import namespace="http://xmlns.oracle.com/bpm/bpmobject/SGDComunicaciones/MetadatosBO" schemaLocation="../businessCatalog/SGDComunicaciones/MetadatosBO.xsd"/>
   <complexType name="HT_AprobarCierreComPayloadType">
      <sequence>
         <element ref="ns0:ComunicacionSalidaBO"/>
         <element ref="ns1:UsuarioBO"/>
         <element name="asunto" type="xsd:string"/>
         <element name="radicado" type="xsd:string"/>
         <element name="vencimiento" type="xsd:dateTime"/>
         <element ref="ns2:InteresadoBO"/>
         <element ref="ns3:AnexosList"/>
         <element name="requiereGestionCompartidaBO" type="xsd:string"/>
         <element name="requiereRespuestaBO" type="xsd:string"/>
         <element name="tiempoRespuestaBO" type="xsd:integer"/>
         <element name="accesoNegadoInformacionBO" type="xsd:string"/>
         <element name="identificacionReservadaBO" type="xsd:string"/>
         <element name="trasladoOtraInstitucionBO" type="xsd:string"/>
         <element ref="ns4:TaxonomiaBO"/>
         <element name="esPqrsBO" type="xsd:string"/>
         <element name="tipoPqrsBO" type="xsd:string"/>
         <element ref="ns5:MetadatosBO"/>
         <element name="fechaRadicacion" type="xsd:dateTime"/>
      </sequence>
   </complexType>
</schema>
